<!-- write your body here -->

<%- include("header.ejs")%>
<section >
  <!-- heading code  -->
  <div class="heading">
    <% const date = new Date(); const options = { month: 'long', weekday:
    'long', day: 'numeric', }; %>
    <h1><%= date.toLocaleString('en-US', options) %></h1>
  </div>
  <!-- heading code ended -->
  <%if(locals.entryItems){ entryItems.forEach(item => { %>


  <div class="appeareditem">
    <form action="/delete" method="POST">
      <input type="checkbox" value="<%= item._id  %>" onChange="this.form.submit()" name="checkbox" id="check-box" />
      <label for="item"><%= item.name %></label>
      <input type="hidden" name="listName" value="<%= listTitle%>" ></input>
    </form>
  </div>

  <%})};%>

  <div class="list">
    
    <form class="forma" action="/" method="POST">
      <input
        type="text"
        id="notecreator"
        placeholder="New item"
        name="newitem"
      />

      <button type="submit" id="button" name="button" value="<%= listTitle  %>">+</button>
    </form>
  </div>
</section>

<%- include("footer.ejs")%>
